:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #f69f41, #fbc662, #fea649);
  --vp-c-brand-1: #fa9c47;
  --vp-c-brand-2: rgba(251, 197, 98, 0.95);
  --vp-c-brand-3:  #fa9c47;
  --vp-sidebar-width: 295px;
}


.VPHero.has-image .text {
  font-size: 1.7em;
}
@media (min-width: 960px) {
  .VPHero.has-image .text {
    font-size: 2.4em;
  }
}